*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color:#edefee;
    font-family:'Markazi Text', serif;
}
header{
    margin-top: 2.3vmin;
}
header img{
    display: block;
    margin: auto;
    image-resolution: 500px 200px;
    width: 40%;
    height: 10%;
}

header nav{
    margin: 2vmax 3vmax;
    border-radius: 1.5vmax;
    padding: .6rem 3vmax;
    background-color: #454545;
}
header nav ul{
    list-style: none;
    text-align: center;
   margin : 0% 3%; 
    /* background-color: crimson;*/
}
nav li{
    display: inline-block;
    padding-inline: 1vmax ;
    /* background-color: blue; */
    /* color: #000; */
    text-decoration:none;
}
nav a{
    text-decoration: none;
    font-size: 2vmax;
    font-weight:600;
    color: #edefee;
    /* background-color: black; */
}
/* 
                main
 */

.section1{
    display: flex;
    margin: 2vmax 3vmax;
}

.section1 article{
    background-image: url(section-background.jpeg);
    background-size:cover;
    background-position: center;
    border-radius: 1rem;
    padding: 2.3vmax 3vmax;
    color:#edefee
   
}
.section1 h1{
    font-size: 3em;
    font-weight: 700;
 
}
.section1 p{
     margin:2vmax 0vmax;
     /* line-height: 2vmax; */
}
.section2{
    margin: 2vmax 2vmax;
    display: flex;
    flex-wrap: wrap;
}
.section2 article{
    flex: 1;
    margin-top: 0.6rem;
    background-color: rgb(255, 224, 178);
    border-radius: 1rem;
    margin-inline: 1vw;
    padding: 2vw;
}
.container {
    display: flex;
    justify-content: center;
  }
  
  .container img {
    align-content:center;
    border-radius: .5rem;
  }
  
.section2 h2{
    text-align: center;
    margin-bottom: 1.3vmax;
}

article>img{
    align-content:center;
    border-radius: .5rem;
} 

.section2 p{
    text-align: center;
    margin-top: 1vmax;
    
}
.section2 ul{
    text-align: center;
    margin-top: 1vmax;
    list-style: none;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2vmax 3.3vmax;
}
footer div{
    flex: 1;
}

@media (max-width:900px) {
    body{
        margin: 1vmax 2vmax;
    }
    
header img{
    width: 60%;
    height: 10%;
}
    nav a{
        text-decoration: none;
        font-size: 3vmax;
        font-weight:600;
        color: #edefee;
        /* background-color: black; */
    }        
    .section1 h1{
        font-size: 2rem;
        font-weight: 800;    
    }
    .section2{
 
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     
     }
     footer{
         display: flex;
         justify-content: center;
         align-items: flex-start;
         margin: 4vmax 3.3vmax;
     }
}